# Lista de Exercícios Pandas

* 1 Do arquivo carros, imprima as primeiras e as últimas cinco linhas. Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.
* 2 Encontre o nome da empresa de carros mais cara
* 3 mostre a média de preços
* 4 mostre o valor mais alto e mais baixo de horsepower
* 5 mostre a informação de todos os carros da marcar toyota
* 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

# 1 Do arquivo carros, imprima as primeiras e as últimas cinco linhas. Faça uma versão que abre o arquivo a partir do csv e outra que abre a partir da url.

In [39]:
import pandas as pd
import numpy as np
#######################################################
# Abrir csv do arquivo no CP
carros = pd.read_csv("/home/gabrielmartins/carros.csv")
display(carros.head(5))
display(carros.tail(5))

########################################################
# Abrir csv através de uma url
url = "https://raw.githubusercontent.com/advinstai/python-datascience/master/Exercicios/carros.csv"
carros_url = pd.read_table(url,sep=",")
display(carros_url.head(5))
display(carros_url.tail(5))

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

# 2 Encontre o nome da empresa de carros mais cara

In [36]:
carro_caro = carros.loc[carros["price"] == max(carros["price"])]
display(carro_caro["company"])

35    mercedes-benz
Name: company, dtype: object

# 3 mostre a média de preços

In [66]:
print("Média dos preços com numpy: ",np.mean(carros["price"]),"\n")
print("Média dos preços com pandas: ",carros["price"].mean())

Média dos preços com numpy:  15387.0

Média dos preços com pandas:  15387.0

# 4 mostre o valor mais alto e mais baixo de horsepower

In [71]:
print("Mínimo da coluna horsepower: ",carros["horsepower"].min(),"\n")
print("Mínimo da coluna horsepower: ",carros["horsepower"].max())

Mínimo da coluna horsepower:  48

Mínimo da coluna horsepower:  288

# 5 mostre a informação de todos os carros da marcar toyota

In [76]:
toyota = carros.loc[carros["company"]=="toyota"]
display(toyota)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

# 6 faça uma função que filtra os carros por cilindro e salva em outro arquivo CSV

In [104]:
def Cilindros(cilindros):
    num_of_cilinders = carros.loc[carros["num-of-cylinders"]==cilindros]
    num_of_cilinders.to_csv("{} cilindros.csv".format(cilindros),index=False)
    return num_of_cilinders

Cilindros("four")

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,19,dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,20,dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,27,honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,28,honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,29,honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,30,isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,NaN
27,36,mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
28,37,mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
29,38,mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
31,43,mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,50,mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
38,51,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
39,52,mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
41,54,nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
42,55,nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
43,56,nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0